
.footer-logo-link {
    text-decoration: none;
    color: darkgreen;
}

.footer-container {
    border-top: 4px solid var(--green); 
    font-family: var(--body-font);
    letter-spacing: 0.05rem;
    height: 5vh;
}