
.footer-logo-link {
    text-decoration: none;
    color: darkgreen;
}

.footer-logo-link:hover{
    color: var(--brown);
}

.footer-copyright {
    position: relative;
    bottom: 30px;
}

.footer-container {
    background-color: transparent;
    color: white;
    font-family: var(--body-font);
    letter-spacing: 0.05rem;
    height: 0vh;
}