

.filtered-vegetables-list-container{
    width: 30%;

}

.filtered-vegetables-heading {
    font-size: 2.7rem;
    margin: 3rem 0rem 2rem 0rem;
    color: var(--brown);
    font-family: var(--subheading-font2);
}

.filtered-vegetables-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
    padding: 0rem 1rem;
    max-width: 1200px;
    margin: 0rem auto 9rem auto;

}

.filtered-vegetable {
    border: 5px solid var(--green);
    background-color: 	white;
    font-weight: 800;
    border-radius: 10px;
    padding: 0.5rem 0rem;
    width:150px;
    height: 150px;
    position: relative;
    transition: transform 1s;
}

.filtered-vegetable:hover {
    opacity: .75;
    transform: translateY(8px);
}

.filtered-vegetable-name {
    font-family: var(--subheading-font);
    color: green;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 0.75rem;
}

.filtered-add-btn {
    font-family: var(--body-font);
    position: absolute;
    bottom: 40px;
    left: 43px;
    border: 1px solid white;
    background-color: var(--green);
}

.already-added {
    background-color:lightgray;
}

.filtered-vegetables-no-results{
    color: var(--brown2);
}