

.user-vegetables-list-container{
    width: 30%;
}

.user-vegetables-grid-container {
    background-color: beige;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.user-vegetable {
    border: 1px solid green;
    margin: 0.25rem;
    padding: 0.5rem 0rem;
    width:100px;
}