.vegetables-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 75vh;
    background-color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1515615575935-36f6e462f56d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2980&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
   
   .vegetables-inner-container {
       top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0,0,.8);
       min-height: 75vh;
   }


.vegetables-heading-form-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3rem auto;
    max-width: 1200px;
}

.vegetables-heading-container {
    width: 50%;
    max-width: 800px;
    padding: 1.5rem;
    background: white;
    border-radius: 5px;
}
 
.vegetables-heading {
    margin-bottom: 1.5rem;
}

.vegetables-description {
    max-width: 800px;
    margin: auto;
    text-align: left;
    color: var(--brown)
}

.vegetables-expand-form-btn {
    margin-top: 1.5rem;
    background-color: var(--green);
    height: 50px;
}



.vegetables-form-container {
    width: 40%;
}

.vegetables-form {
    display: flex;
    flex-direction: column;
    background-color: #2E8B57;
    color: white;
    font-weight: 700;
    max-width: 500px;
    padding: 2rem 5rem;
    text-align: left;
    box-shadow: 0px 0px 15px 3px #1F941F;
    border: none;
    margin: auto;

}

.vegetables-checkboxes-container {
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: space-around;
}


.vegetable-form-btn {
    margin-top: 2rem;
    border: 2px solid #2E8B57;
    background-color: white;
    color: #2E8B57;
    width: 200px;
    margin: 1.5rem auto 0rem auto;
}

.vegetables-user-list-container {
    position: relative;
}

.vegetables-arrow-scroll{
    position: absolute;
    font-size: 2.5rem;
    right: 55px;
    bottom: 100px;
    color: 	var(--brown);
}
.vegetables-arrow-scroll:hover{
    opacity: .8;
    cursor: pointer;
}

.vegetables-btn {
    margin: 5rem auto 2.5rem auto;
    width: 200px;
    height: 65px;

    background-color: var(--brown);
    color: white;
}

.vegetables-btn:hover {
    background-color: white;
    color: var(--brown);
    border: 1px solid var(--brown)
}

#hide {
    display: none;
}

#show {
    display: block;
}

#max-width {
    width: 100%;
}