
.navbar-container {
    margin: auto;
    left: 0;
    right: 0;
    background-color: transparent;
    height: 0vh;
}

.navbar-radio-btn {
    width: 200px;
    color: var(--green);
    font-weight: 600;
    border: none;
    border-radius: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-btn:hover {
    background-color: var(--btn-color);
}

.nav-btn:active {
    background-color: var(--btn-color);
}
.btn-check:checked+.btn-outline-success {
    background-color: var(--btn-color);

}

.nav-btn-group {
    width: 800px;
    margin: auto;

}

.active {
    background-color: var(--green);
    color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}