
.navbar-container {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 32px;
    background-color: transparent;
    height: 0vh;
    color:var(--green);
    position: absolute;
}

.navbar-link{
    background-color: transparent;
    color: var(--green);
    display: inline-block;
    width: 200px;
    height: 32px;
    text-decoration: none;
    padding-top: 5px;
    letter-spacing: 0.25px;
    font-weight: 500;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.15rem;
}

.navbar-link:hover {
    color: var(--green);
}

.active {
    background-color: var(--green);
    color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active:hover {
    color: var(--white);
}