.header-container {
    position: relative;
    background-color: var(--white);
    border-bottom: 5px solid var(--green);
    height: 20vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
    left: 20px;

    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.header-title {
    font-family: var(--subheading-font);
    font-size: 5rem;
    position: relative;
    top: 5px;
    color: var(--green);
    font-weight: 500;

}

.header-leaf {
    height: 65px;
}

.header-user-container {
    display: flex;
    position: absolute;
    right: 40px;
    top: 20px;
}

.header-user-container:hover {

    cursor:pointer;
}

.header-username {
    margin-right: 0.5rem;
    position: relative;
    top: 5px;
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--brown)
}


.header-user-icon {
    width: 32.25px;
    position: relative;
    bottom: 0.8px;
    right: 1.5px;
}

.header-user-icon-container {
    height: 35px;
    width: 35px;
    border: 3px solid green;
    border-radius: 100%;
    overflow: hidden;
}

.header-user-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 40px;
    top:60px;
    background-color: white;
    border: 1px solid green;
    padding: 0.5rem;
    border-radius: 5px;

}
    
.header-user-profile-btn, .header-user-logout-btn, .header-user-wiki-btn {
    border: none;
    font-weight: 500;
    background-color: white;
    margin: 0.25rem;
    font-family: var(--body-font);
    }


    .header-user-profile-btn:hover, .header-user-logout-btn:hover {
        text-decoration: underline;
        color: green;
    }

#header-center {
    height: 20vh;
}