.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: relative;
    left: 20px;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

.header-title {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    letter-spacing: 0.15rem;
    position: relative;
    top: 5px;
    color: black;

}

.header-leaf {
    height: 65px;
}