
.splash-container {
    font-family: var(--body-font);
    width: 950px;
    margin: auto;
    height: 70vh;
}

.splash-main-heading {
    font-size: 3.25rem;
    padding-bottom: 0.25rem;
}

.splash-sub-heading {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.flourish-span {
    color: #1c917d;
}

.splash-description {
    font-size:0.95rem;
    line-height: 2rem;
}

.splash-list {
    list-style: none;
    text-align: left;
    margin: auto;
}

.splash-lobster-font {
    font-family: var(--subheading-font);
    font-size: 1.15rem;
}



.splash-soil {
    color:#26aa95;
    font-weight: 900;
}
.splash-vegetables {
    color:#229986;
    font-weight: 900;
}
.splash-companion {
    color:#1E8877;
    font-weight: 900;
}
.splash-layout {
    color:#1A7768;
    font-weight: 900;
}
.splash-summary {
    color:#166659;
    font-weight: 900;
}

.splash-list-step {
    font-size: 0.85rem;
}


.splash-btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin: auto;
    padding-top: 2rem;

}



