.soil-container {
 overflow: scroll;
 height: 70vh;
}

.map-view {
    width: 80%;
    height: 350px;
    cursor: pointer;
    margin: 0 auto;
  }

.esri-view-surface canvas {
    border: 5px solid var(--btn-color);
    
}

  .esri-icon-font-fallback-text {
      display: inline-block;
      font-weight: 900;
      color: white;
      background-color: var(--btn-color);
      font-family: var(--body-font);
      width: 100px;
    height: 100%;
    margin-left: 0.25rem;
    border: 2px solid var(--btn-color);
  }

  .esri-icon-font-fallback-text:hover {
      background-color: white;
      border: 2px solid var(--btn-color);
      color: var(--btn-color);
  }

  .esri-ui-corner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
  }



.esri-attribution__sources, .esri-attribution__powered-by {
    display: none;
}

.display-soil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkgreen;
    width: 200px;
    height: 50px;
    margin: auto;
    position: relative;
    top: 100px;
    font-weight: 900;
}

.display-soil-p {
    margin-bottom: 0;
}

.display-results-container {
    width: 750px;
    margin: auto;
    position: relative;
    top: 125px;
}