.soil-outer-container {
 min-height: 75vh;
 background-color: #FFFFFF;
 background-image: url("https://images.unsplash.com/photo-1515615575935-36f6e462f56d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2980&q=80");
 background-attachment: fixed;
 background-size: cover;
 background-repeat: no-repeat;
 overflow: hidden;
}

.soil-inner-container {
    top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0,0,.8);
    min-height: 75vh;
}

.soil-heading-container {
    width: 35%;
    max-width: 900px;

}

.soil-expand-btn {
    background-color:var(--green);
}

.soil-heading{
    width: 80%;
    margin: auto;
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    color: var(--brown);
}

.soil-heading-map-flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 50px;
}

.soil-heading {
    margin-bottom: 1.5rem;
}

.soil-map-container {
    width: 50%;
}

.map-view {
    width: 100%;
    height: 350px;
    cursor: pointer;
    margin: 0rem auto 3rem auto;
  }

.esri-view-surface canvas {
    border: 5px solid var(--green);
    
}

  .esri-icon-font-fallback-text {
      display: inline-block;
      font-weight: 900;
      color: white;
      background-color: var(--btn-color);
      font-family: var(--body-font);
      width: 100px;
    height: 100%;
    margin-left: 0.25rem;
    border: 2px solid var(--btn-color);
  }

  .esri-icon-font-fallback-text:hover {
      background-color: white;
      border: 2px solid var(--btn-color);
      color: var(--btn-color);
  }

  .esri-ui-corner {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      align-content: flex-start;
      margin-top: 1rem;
  }


.esri-attribution__sources, .esri-attribution__powered-by {
    display: none;
}
.esri-locate {
    height: 56px;
}

.display-results-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 7rem auto 0rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.display-characteristics-container {
    width: 50%;
    border-right: 2px solid darkgreen;
    padding: 1.5rem 1.75rem;
    color: var(--brown);
}

.display-characteristics-heading, .display-recommendations-heading  {
    margin-bottom: 1.5rem;
    font-family: var(--subheading-font2);
}


.display-recommendations-container {
    color: var(--brown);
    width: 50%;
    padding: 1.5rem 1.75rem;
}


#soil-save-btn {
    margin: 3rem auto;
}