.varieties-container {
    min-height: 75vh;
}


.varieties-form {
    display: flex;
    flex-direction: column;
    background-color: #2E8B57;
    color: white;
    font-weight: 700;
    margin: 3rem auto;
    max-width: 500px;
    padding: 2rem 5rem;
    text-align: left;
    box-shadow: 0px 0px 15px 3px #1F941F;
    border: none;
}