

.garden-list-outer-container {
    min-height: 85vh;
    background-color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.garden-list-inner-container {
    top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0,0,.75);
    min-height: 85vh;
    overflow: hidden;
}

.garden-list-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 25px;
    margin: 0rem auto;
    max-width: 1200px;
}

.garden-list-add-btn {
    margin-bottom: 2rem;
}

.garden-list-main-heading{
    font-family: var(--subheading-font2);
    margin-top: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--brown);
    font-size: 3rem;
    /* text-shadow: -1px -1px 0 #965d27, 1px -1px 0 #965d27, -1px 1px 0 #965d27, 1px 1px 0 #965d27; */
    letter-spacing: 1px;
}

.garden-list-subheading {
    font-family: var(--subheading-font2);
    font-weight: 600;
    margin-top: 5rem;

    color: var(--brown);
}

.create-garden-btn {
    margin-top: 2rem;
    width: 255px;
    height: 75px;
    opacity: 0.7;
    border-radius:200px;
}

.create-garden-btn:hover {
    opacity: .8
}

.garden-list-details-heading {
    margin-bottom: 3rem;
    color: var(--brown2);
    font-style: italic;
}

div.modal-header {
    background-color:  rgb(224, 216, 204);
}
div.modal-title {
    font-family: var(--subheading-font2);
    letter-spacing: 0.25px;
}

div.modal-footer {
    background-color: rgb(224, 216, 204);
}