
.garden-detail-outer-container {
    min-height: 80vh;
    background-color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1474440692490-2e83ae13ba29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

.garden-detail-inner-container {
    top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0,0,.8);
    min-height: 80vh;
    overflow: hidden;
}

.garden-detail-background-container {
    background-color: white;
    max-width: 950px;
    margin: 3rem auto 4rem auto;
    padding-top:1rem;
    border-radius: 15px;
    opacity: .75;
}

.garden-detail-upper-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    max-width:1000px;
    gap: 1rem;
    padding-top:1rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
    margin: 2rem auto 0rem auto;
}

.garden-detail-rename-container {
    display: flex;
    justify-content: center;
}

.garden-detail-rename-input {
    width: 200px;
}

.garden-detail-rename-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.garden-detail-close-rename-btn {
    display: flex;
    justify-content: center;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 25px;
}

.garden-detail-close-rename-btn:hover{
    color: white;
}


.garden-detail-garden-name {
    color: var(--brown2);
    font-family: var(--subheading-font2);
    font-size: 3rem;
    margin-top: 1rem;
}

.garden-detail-strong-tag {
    color: var(--brown);
}


.garden-detail-edit-btn {
    font-size: 0.75rem;
}

.garden-detail-date{
    font-style: italic;
    color: var(--brown2);
    font-weight: 600;
    margin: 0;
}

.garden-detail-soil-heading {
    text-align: left;
    font-family: var(--subheading-font2);
    color: var(--brown);
}

.garden-detail-edit-btn:hover {
    color: var(--btn-color);
}

.garden-detail-spinner {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.garden-detail-collapse-container {
    background-color: transparent;
    padding-bottom: 2rem;
    border-radius: 15px;
    margin: auto;
}

.garden-detail-vegetable-grid-container {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 1rem;
    padding: 0rem 1rem;
    max-width: 800px;
    margin: 3rem auto 2rem auto;

}

/* .garden-detail-vegetable {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--btn-color);
    width: 450px;
    height: 420px;
    margin: 2rem 0rem;
    padding: 1.5rem 1rem;
} */

.garden-detail-vegetable {
    border: 2px solid green;
    background-color: transparent;
    color:black;
    border-radius: 10px;
    padding: 1.25rem;
    width:335px;
    height: auto;
    position: relative;
    transition: transform 1s;
    text-align: left;
}

.garden-detail-vegetable:hover {
    opacity: .9;
    transform: translateY(6px);
}

.garden-detail-vegetable-name {
    font-family: var(--subheading-font);
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--green);
    margin-bottom: 1.5rem;
}

.garden-detail-category {
    color: var(--brown);
    font-weight: 800;
}


.garden-detail-edit-vegetables {
    margin-top: 1rem;
}

.garden-detail-vegetable-edit {
    font-size: 1rem;
}
.garden-detail-vegetable-edit:hover {
    color: goldenrod;
}

.garden-detail-layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   max-width: 450px;
    height: 500px;
    background-color: transparent;
    border-radius: 5px;
    margin:auto;
}
.garden-detail-image-container{


}

.garden-detail-layout-image {
    height: 400px;
    max-width: 675px;

    /* top:100px; */
}



.garden-detail-heading-category {
    color: var(--green);
    font-family: var(--subheading-font2);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    opacity:.8;
}

.garden-detail-view-summary{
    padding: 1rem 1rem 0rem 1rem;
    /* background-color: var(--white); */
    width: fit-content;
    margin:auto;
    border-radius:10px;
}
.garden-detail-view-summary-p{
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--brown2);
    font-size: 1.25rem;
}

.garden-detail-summary-btn{
    border:none;
    background-color:transparent;
    padding:0;
    color: var(--green);
    font-weight: 900;
    font-style: italic;
}

.garden-detail-summary-btn:hover{
    color:brown;
}

.garden-detail-layout-heading{
    padding-left: 2rem;
}


#garden-detail-vegetable-heading{
    text-align: center;
}

.garden-detail-grid-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    max-width: 1000px;
    margin-top: 4rem;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    align-content: center;
    margin: 3rem auto 0rem auto;
}


.garden-detail-soil-subcontainer{
    background-color: transparent;
    width: 450px;
    padding: 1.75rem;
    border-radius: 15px;
    text-align: left;
    color:black;
}

.garden-detail-upper-left {
    width:450px;
    margin-left: 35px;
}

.garden-detail-layout-container-flex {
    max-width: 450px;
}

/* .garden-detail-body-container:after {
    content: "";
    border-left: 2px solid var(--brown2);
    height: 900px;
    position: absolute;
    top:51%;
    left:50%;
    transform: translateY(-28px)
} */
.garden-detail-body-container:before {
    content: "";
    border-right: 2px solid  var(--brown2);
    height: 900px;
    position: absolute;
    top:-5%;
    left:50%;
    transform:rotate(90deg) translateX(-30px)

}


@media only screen and (max-width: 930px) {
    .garden-detail-body-container:after {
        border-left: none;
    }
    .garden-detail-body-container:before {
        border-left: none;
    }
  }
@media only screen and (max-width: 600px) {
    .garden-detail-collapse-container {
        width: 375px;
    }
  }