.notepad {

  width: 375px;
  box-shadow: 10px 10px 40px rgba(black, .15);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.top {
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 5px 5px 0 0;
}

.paper {

  width: 100%;
  height: 100%;
  padding: 0px 20px;
  background: repeating-linear-gradient(#F3E779, #F3E779 31px, #94ACD4 31px, #94ACD4 32px);
  font-family: var(--body-font);
  line-height: 32px;
  outline: 0;
  overflow-wrap: break-word;
  border: none;
  overflow: visible;
}

.garden-note-container {
  width: 100%;
  float: left;
}

.garden-note-container.paper {
  display: block;
}


.garden-notes-save-btn {
  color :white;
}

.garden-notes-add-btn {
  color: white;
}

.garden-notes-delete-btn {
position: absolute;

}

