.garden-notes-container {
  position: relative;
  margin-top: 2rem;
  width: 90%;
}

.textarea[contenteditable]:empty::before {
    content: "";
    color: gray;
  }

  .textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    font-family: inherit;
    font-size: inherit;
    padding: 20px 6px 0px 6px;
    border-bottom: 1px solid black;
  }

  .garden-notes-li {
    position: relative;
      list-style-type: lower-roman;
  }

  .garden-notes-delete-btn {
    position: absolute;
    right: 0px;
    top: 5px;
  }

  .garden-notes-delete-btn:hover{
    color: tomato;
  }