
.garden-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 225px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    opacity: 0.7;
    margin-bottom: 3rem;
    background-color: var(--green);
}

.garden-item-container:hover {
    opacity: 0.9;
    cursor: pointer;
}

.garden-item-btn-container {
    position: absolute;
    font-size: 1.25rem;
    right: 25px;
    top: 20px;
}

.garden-item-heading {
    font-family: var(--subheading-font2);
    font-size: 2rem;
    position: relative;
    top: 10px;
}

.garden-item-btn-container:hover {
    color: var(--btn-color);
}

.garden-item-more-details {
    transition: letter-spacing 1s;
}
.garden-item-more-details:hover {
    font-weight: 500;
    letter-spacing: 0.5px;
}

.garden-item-date {
    font-style: italic;
    margin-top: 1rem;
    font-weight: 600;
}


.garden-item-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    width: 90%;
    height: 190px;
    border-radius: 12px;
    padding: 2rem;
    background-color:var(--brown);
    background-image: url('https://www.worldatlas.com/r/w1200/upload/c2/42/c3/soil-composition-shutterstock.jpg');
}



/* .garden-item-text-container:hover {
    background-color:darkgreen;
} */