
.garden-list-container {
    width: 100%;
    margin-top: 5rem;
}

.garden-list-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 25px;
    margin: 0rem 1rem;
}

.garden-list-add-btn {
    margin-bottom: 2rem;
}

.garden-list-past-gardens {
    margin-top: 4rem;
}
