
.garden-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--btn-color);
    width: 90%;
    height: 225px;
    margin: 2rem;
    color: white;
    background-color:darkgreen;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1
}

.garden-item-container:hover {
    opacity: 0.85;
    cursor: pointer;
}

.garden-item-btn-container {
    position: absolute;
    font-size: 1.25rem;
    right: 10px;
    top: 2px;
}

.garden-item-btn-container:hover {
    color: var(--btn-color);
}

.garden-item-more-details:hover {
    color: var(--btn-color);
}


.garden-item-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 65, 0);
    width: 80%;
    height: 150px;

}