.weather-outer-container {
    color: black;
    overflow: hidden;
    width: 350px;
    border-radius: 10px;

}

.weather-inner-container{

    position: relative;

    height: 300px;
}

.weather-content-container {
    border: 2px solid lightgray;
    border-radius: 10px;
    position:relative;
    width: 80%;
    top: 12px;
    margin: 1.4rem auto 0rem auto;
    padding-bottom: 1rem;
    color: var(white);
    background-color: slategrey;
}

.weather-dew-feelslike-flex-container, .weather-humidity-uvi-flex-container{
    display: flex;
    justify-content: center;
}

.weather-humidity-uvi-flex-container{
    position: relative;
    right: 8px;
    margin-top: 0.75rem;
}

.weather-dew-flex-container, .weather-humidity-flex-container {
    display: flex;
    flex-direction: column;
}

.weather-feelslike-flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.weather-uvi-flex-container {
    margin-left: 3.45rem;
}

.weather-heading {
    padding-bottom: 0.25rem;
    margin-bottom: 0rem;


}



.weather-current-temp{
    font-size: 4rem;
    padding-left: 1rem;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    color: var(--white);
}

.weather-dew-point-heading, .weather-humidity-heading {
    margin-bottom: 0rem;
    font-weight: 600;
}

.weather-dew-point-temp, .weather-humidity {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color: var(--white);

}

.weather-feelslike-heading, .weather-uvi-heading {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-weight: 600;

}

.weather-feels-like-temp, .weather-uvi {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    color: var(--white);
}

.weather-desc-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.weather-desc-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.weather-desc {
    padding-right: 1rem;
    margin: 0;
    font-weight: 500;
}

.weather-icon {
    width: 50px;
}