.companions-container {
    max-height: auto;
    border-radius: 10px;
    overflow: hidden;
}

#companion-list {
    color: darkgreen;
}

.companion-vegetable-btn {
    border: none;
    background-color: transparent;
    color: green;
}
.companion-vegetable-btn:hover {
    color: yellowgreen;
}

#adversary-list {
    color: tomato;
}

table {
    border-radius: 10px;
    text-align: left;
    background-color: white;
    padding: 1rem;
    width: 100%;
    max-height: auto;
}


thead {
    border-bottom: 2px solid var(--brown);
    text-align: center;
}

.companions-thead {
    background-color: var(--brown);
    color: white;
    border-radius: 50px;

}

th {
    padding: 1rem;
    font-family: var(--subheading-font);
    font-size: 1.35rem;
    color:var(--brown);
    font-weight: 900;
}

.companions-th {
    color: white;
}

.companions-td {
    color:var(--brown);
}

td {
    border-top: 1px solid var(--brown);
    padding: 1rem 0.5rem;
    min-width: 200px;
    text-align: center;
    color: var(--brown);
}

.companions-td {
    background-color: #fdf5e6;
}

.companions-save-alert {
    position: fixed;
    bottom: 50px;
    left: 25px;
}