.companions-container {
    max-height: auto;
    width: 50%;
    border: 3px solid darkgreen;
    border-radius: 30px;
}

.companion-list {
    color: darkgreen;
}

.adversary-list {
    color: tomato;
}

table {
    border-radius: 30px;
    text-align: left;
    background-color: white;
    padding: 1rem;
    width: 100%;
    max-height: auto;
}

thead {
    border-bottom: 2px solid black;
    text-align: center;
}

th {
    padding: 1rem;
}

td {
    border-top: 1px solid black;
    padding: 1rem 0rem;
    min-width: 200px;
    text-align: center;
}

