
.layout-outer-container {
    min-height: 80vh;
    background-color: #FFFFFF;
    background-image: url("https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.layout-inner-container {
    top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0,0,.8);
    min-height: 80vh;
    overflow: hidden;
}

.layout-heading-container {
    width: 80%;
    margin: 3rem auto;
    padding: 1.5rem;
    background: white;
    border-radius: 10px;
    color: var(--brown);
    max-width: 900px;
}

.layout-heading {
    margin-bottom: 1.5rem;
}

.layout-flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.canvas-container {
    display: flex;
    flex-direction: column;

}

.layout-canvas {
    border: 4px solid var(--brown);
    background-color: var(--white);
}

.layout-btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.companion-layout-container {
    max-height: auto;
    width: 40%;
    border-radius: 10px;
    margin-right: 5rem;
    margin-bottom: 6rem;
}

.layout-subheading {
    font-size: 2rem;
    margin: 3rem 0rem 2rem 0rem;
    color: var(--brown);
    font-family: var(--subheading-font2);
}